<h1> </h1>
<h2> </h2>
<h3> </h3>
<h4> </h4>
</br></br></br></br></br></br></br></br></br></br>





<div id="logo" style="width:100%; text-align: center">
<p style="font-family: Action Comcs Black; font-size: large" align="center">MyWorld <img src = "https://s3.amazonaws.com/myworldapp/world_spin.gif" style="vertical-align:middle"></p>
<p style="font-family: Action Comcs Black; font-size: medium" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a world generator and explorer</p>
</br></br></br></br></br>
</br>
<p style="font-family: Action Comcs Black; font-size: large" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Enter", new_world_path %></p>
</div>

