.tree {

}

.grass {
background-color: limegreen;
}

.rock {
background-color: slategray;
}

.water {
background-color: royalblue;
}

.dirt {
background-color: burlywood;
}

.ice {
  background-color: seashell;
}

.mud {
  background-color: lightgray;
}

.shallow_water {
  background-color: skyblue;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #000000;
  border: thin inset #aaaaaa;
}
